<!DOCTYPE html>
<html ng-app='gdgApp'>

<head>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/angular-resource/angular-resource.js"></script>
  <script src="app.js"></script>
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div class="container top" ng-controller="MainCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">GDG Locride Webapp</h3> <span>A Single page app to manage partecipants in our events</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="text-center">
            <div role="group" class="btn-group-vertical btn-group-lg">
              <a ng-click="mostraReg()" class="btn btn-primary">Registra utente</a>
              <div ng-show="showForm">
                <form name="reg_form" novalidate class="css-form" ng-submit='addUser()'>
                  <h2>Form di registrazione</h2>
                  <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" ng-model="utente.nome" class="form-control" id="nome" placeholder="Nome" required>
                  </div>
                  <div class="form-group">
                    <label for="cognome">Cognome</label>
                    <input type="text" ng-model="utente.cognome" class="form-control" id="cognome" placeholder="Cognome" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" ng-model="utente.email" class="form-control" id="email" placeholder="Email" required>
                  </div>
                  <button type="submit" class="btn btn-default" ng-disabled="reg_form.$invalid">Registra</button>
                </form>
              </div>
              <br>
              <a ng-click="mostraUtenti()" class="btn btn-info">Visualizza utenti</a>
              <div ng-show="showUser">
                <br>
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>Cognome</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in users">
                      <td>{{user.id}}</td>
                      <td>{{user.nome}}</td>
                      <td>{{user.cognome}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br>
              <a ng-click="mostraVincitori()" class="btn btn-success">Estrai vincitori</a>
              <div ng-show="showWinner">
                <h2>I vincitori sono:</h2>
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>Cognome</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="win in winner">
                      <td>{{win.id}}</td>
                      <td>{{win.nome}}</td>
                      <td>{{win.cognome}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="left">
        Copyright &copy; 2015 - GDG Locride
        Developed by <a href="http://www.gianlucabarranca.it">Gianluca Barranca</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>